<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegaptips.googleoauth" version="1.9.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GuyStudy</name>
    <description>
        Guy Study
    </description>
    <author email="dev@callback.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <access origin="*" />
   
    <plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />

    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-media-capture" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-file" />
  
  
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

</widget>
